<h1>Reservation#show</h1>

<p>Check your booking !</p>


<strong>Vehicle Id:<%=@vehicle.id %></strong>

<h1><%=image_tag @vehicle.image.to_s %></h1>

<h2>Description:<%=@vehicle.description %></h2>

<h3>Price per day:<%=@vehicle.price_per_day %> $</h3>

<h4>Min/Max Number of days to rent:<%=@vehicle.min_day_rent%>/<%=@vehicle.max_day_rent%></h4>

<h5>City:<%=@vehicle.city %></h5>

<strong>Country:<%=@vehicle.country %></strong>

 <p class="content"><%= @vehicle.brand %></p> 
  <p class="content"><%= @vehicle.type_vehicle %></p> 
  <p class="content"><%= @vehicle.model_year%></p> 
  <p class="content"><%= @vehicle.cc%></p>
  <p class="content"><%= @vehicle.accessories%></p>

<strong>Your check_in_date : <%= @reservation.check_in_date %></strong>
<strong>Your check_out_date : <%= @reservation.check_out_date %> </strong>