<div>

<%= form_for(@vehicle, remote: true) do |f| %>

<div>
  <%= f.label "Catchy title for your motorbike rental:" %>
  <%= f.text_field :description, placeholder: "Your rental title" %><br>
</div>

<div>
  <%= f.label "Address where your motorbike is located:" %>
  <%= f.text_field :address, placeholder: "Please enter a street address (e.g: 123 Sunset Boulevard)" %><br>
</div>

<div>
 <%= f.label "City:" %>
 <%= f.text_field :city, placeholder: "Please enter the city where the bike is located" %><br>
</div>

<div>
  <%= f.label "Country:" %>
  <%= f.country_select :country %><br>
</div>

<div>
  <%= f.label :max_day_rent, "Maximum number of days you'd be willing to rent it out:" %>
  <%= f.select :max_day_rent, ['1 day max', 'up to 2 days', 'up to 3 days', 'up to 4 days', 'up to 5 days', 'up to 6 days', 'up to 7 days', 'More than 7 days', 'More than a month']%> <br>
</div>

<div>
  <%= f.label :price_per_day, "Price per day:" %>
  <%= f.text_field :price_per_day, placeholder: "Please input only a number, in US dollars (eg: 25)" %><br><br>
 </div>

<div>
  <%= f.label "Brand:" %>
  <%= f.text_field :brand, placeholder: "Suzuki? Kawasaki? Triumph? Royal Enfield?" %><br>
</div>
 
 <div>
   <%= f.label "Model:" %>
   <%= f.text_area :model, placeholder: "Street triple? ER6-N? Bullet? Hayabusa?" %><br>
  </div>

<div>
   <%= f.label "Year of production:" %>
   <%= f.select :model_year, (Time.zone.now.year - 100)..(Time.zone.now.year + 1) %> <br>
  </div>

<div>
   <%= f.label "What type of motorbike is it?" %>
  <%= f.select :type_vehicle, ['Roadster', 'Cruiser', 'Sport Bike', 'Touring', 'Sport Touring', 'Dual Sport', 'Scooter/Moped', 'Off Road', 'Vintage']%> <br>

<div>
   <%= f.label :cc, "Your bike's CC" %>
   <%= f.select :cc, ['Up to 49cc', '50 to 124cc', '125 to 499cc', '500 to 799cc', '800 to 1199cc', '1200cc and beyond']%> <br>
</div>

<div>
    <%= f.label "Do you provide any accessories with the bike?" %>
    <%= f.text_area :accessories, placeholder: "Helmets? Goggles? Saddlebags?" %><br>
</div>

<div>
  <%= f.label "Please describe your motorbike in a few lines:" %>
  <%= f.text_area :ext_desc, placeholder: "Tell people why your bike is awesome and the thrills they are gonna get from riding it." %><br>
</div>

<div>
    <%= f.label "Tag your motorbike!" %>
    <%= f.text_field :all_tags, placeholder: "Please separate your tags with a comma. Eg: Vintage, Triumph, 1967, legendary" %>
</div>

<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />

<%=f.hidden_field :user_id, value: current_user.id%>

<br>
 <div id="create_vehicle">
    <%= f.submit "Click to create your rental!" %>
 </div>

</div>

<% end %>

<br>


<div id="upload_image">
<%= form_for @lastvehicle, url: vehicle_path(@lastvehicle.id) do |x| %>
    <div>
    <%= x.label :image, "Once your listing is created, you can choose an image to represent your motorbike!" %><br>
     <%= x.file_field :image %>
    </div>
    <div id="upload_image">
    <%= x.submit "Upload" %>
 </div>

<% end %>
