<div class="row text-center">
<%= form_for(@vehicle, remote: true) do |f| %>

<div class="large-10 large-centered columns">
  <%= f.label :description %><br>
  <%= f.text_area :description, placeholder: "Description" %><br>
</div>

<div class="large-10 large-centered columns">
  <%= f.label :address %><br>
  <%= f.text_field :address %><br>
</div>

<div class="large-10 large-centered columns">
 <%= f.label :city %><br>
 <%= f.text_field :city %><br>
</div>

<div class="large-10 large-centered columns">
  <%= f.label :country %><br>
  <%= f.country_select :country %><br>
</div>

<div class="large-10 large-centered columns">
  <%= f.label :min_day_rent, "Minimum number of days:" %><br>
  <%= f.number_field :min_day_rent, :in => 0..15, :step => 1 %><br>
</div>

 <div class="large-10 large-centered columns">
  <%= f.label :max_day_rent, "Maximum number of days:"%><br>
  <%= f.number_field :max_day_rent, :in => 1..90, :step => 1 %><br>
 </div>

<div class="large-10 large-centered columns">
  <%= f.label :price_per_day, "Price per day:" %><br>
  <%= f.number_field :price_per_day, :in => 0..1000, :step => 5 %><br>
 </div>

<div class="large-10 large-centered columns">
  <%= f.label :brand %><br>
  <%= f.text_field :brand %><br>
</div>
 
 <div class="large-10 large-centered columns">
   <%= f.label :model %><br>
   <%= f.text_area :model %><br>
  </div>

<div class="large-10 large-centered columns">
   <%= f.label :model_year %><br>
   <%= f.select :model_year, (Time.zone.now.year - 100)..(Time.zone.now.year + 1) %> <br>
  </div>

<div class="large-10 large-centered columns">
   <%= f.label :type_vehicle %><br>
   <%= f.radio_button :type_vehicle, 'Roadster', :checked => true %> Roadster
   <%= f.radio_button :type_vehicle, 'Cruiser'%> Cruiser
   <%= f.radio_button :type_vehicle, 'Sport Bike'%> Sport Bike
   <%= f.radio_button :type_vehicle, 'Touring'%> Touring
   <%= f.radio_button :type_vehicle, 'Sport Touring'%> Sport Touring
   <%= f.radio_button :type_vehicle, 'Dual Sport'%> Dual Sport
   <%= f.radio_button :type_vehicle, 'Scooter/Moped'%> Scooter/Moped
   <%= f.radio_button :type_vehicle, 'Off Road'%> Off Road 
   <%= f.radio_button :type_vehicle, 'Vintage'%> Vintage<br>
</div>

<div class="large-10 large-centered columns">
   <%= f.label :cc, "Your bike's CC" %><br>
   <%= f.number_field :cc, :in => 50..1500, :step => 25 %><br>
</div>

<div class="large-10 large-centered columns">
    <%= f.label :accessories %><br>
    <%= f.text_area :accessories %><br>
</div>

<div class="large-10 large-centered columns">
    <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>
</div>

<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />

<%=f.hidden_field :user_id, value: current_user.id%>

 <div class="large-10 large-centered columns" id="create_vehicle">
    <%= f.submit "Create" %>
 </div>

<% end %>

</div>

<div class="row text-center" id="upload_image">
<%= form_for @lastvehicle, url: vehicle_path(@lastvehicle.id) do |x| %>
    <div class="large-10 large-centered columns">
    <%= x.label :image %><br>
     <%= x.file_field :image %>
    </div>
    <div class="large-10 large-centered columns" id="upload_image">
    <%= x.submit "Upload" %>
 </div>

<% end %>
