<%= div_for vehicle do %>
  <div>
    <strong><%= link_to h(vehicle.description), vehicle_path(vehicle.id) %></strong><br />
    <span class="image left"><%=image_tag vehicle.image %></span>
    <sup>From <%= time_ago_in_words(vehicle.created_at)%></sup><br />
    <div>
      <%= h(vehicle.brand) %>
    </div>
    <div>
      <%= h(vehicle.model) %>
    </div>
    <div>
      <%= h(vehicle.cc) %>
    </div>
    <div>
      <%=raw tag_links(vehicle.all_tags) %>
    </div>
  </div>
  <br>
<% end %>


