<!-- Main -->
  <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>


      <%= javascript_tag do %>

      function init_map(){

      var myOptions = {
      zoom:17,center:new google.maps.LatLng(<%= @vmap.latitude %>,<%= @vmap.longitude %>),
      mapTypeId: google.maps.MapTypeId.ROADMAP
          };

          map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);

          marker = new google.maps.Marker({
          map: map,position: new google.maps.LatLng(<%= @vmap.latitude %>,<%= @vmap.longitude %>)
        });

        infowindow = new google.maps.InfoWindow({
        content:'<div><%= link_to @vmap.description, vehicle_path(@vmap.id), {:style=>'color:#000;'} %></div>'



      });

      google.maps.event.addListener(marker, 'click', function(){
      infowindow.open(map,marker);
      });

      infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);

      <% end %>

<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h2>Check out the latest motorcycles for rent on OpenThrottle</h2>
      <p>Go for a ride. The road is calling.</p>
    </header>
    <div class="row 150%">
      <div class="4u 12u$(medium)">

        <!-- Sidebar -->
        <section id="sidebar">
          <section>
            <span class="image fit main"><%=image_tag "picindex.png" %></span>
            <p>Here, you'll find all the latest motorcycles posted for rent on OpenThrottle.</p>
          </section>
          <hr />
          <section>
            <h3>Latest motorbike for rent:</h3>
            <div style='overflow:hidden;height:500px;width:100%;'>
            <div id='gmap_canvas' style='height:500px;width:100%;'></div>
            <style>#gmap_canvas img{
              max-width:none!important;
              background:none!important
            }
          </style>
        </div>
            <footer>
            <br/>
              <ul class="actions">
                <li><a href="mapmyride" class="button">See all bikes on a map</a></li>
              </ul>
            </footer>
          </section>
        </section>

      </div>
      <%= will_paginate @vehicles %>
      <div class="8u$ 12u$(medium) important(medium)">
        <% @vehicles.each do |vehicle| %> 
        <!-- Content -->
        <section id="content">
          <span class="image fit"><%=image_tag vehicle.image.to_s %></span>
          <span><h6>Added: <%= vehicle.created_at %></h6></span>
          <h3><%= vehicle.description %></h3>

          <ul>
            <li><strong>Brand:</strong> <%= vehicle.brand %></li>
            <li><strong>Model:</strong> <%= vehicle.model%> </li>
            <li><strong>CC:</strong> <%= vehicle.cc%></li>
          </ul>
          <ul>
            <blockquote>Price per day: <strong>US$ <%=vehicle.price_per_day %></strong> </blockquote>
          </ul>
          <% if current_user %>
          <h3><%= button_to 'More info about this motorbike', vehicle_path(vehicle), method: "get"%></h3>
          <%else%>
          <div class="button"><%= link_to "Please sign-up to view more details about this motorcycle!", sign_up_path %></div>
          <br>
          <br>
          <%end%>
          <header class="major"></header>
        </section>
        <% end %>
      </div>
    </div>
  </div>
</div>

</section>


