<!-- Main -->

<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h2>Check out the latest motorcycles for rent on OpenThrottle</h2>
      <p>Go for a ride. The road is calling.</p>
    </header>
    <div class="row 150%">
      <div class="4u 12u$(medium)">

        <!-- Sidebar -->
        <section id="sidebar">
          <section>
            <span class="image fit main"><%=image_tag "picindex.png" %></span>
            <p>Here, you'll find all the latest motorcycles posted for rent on OpenThrottle.</p>
          </section>
          <hr />
          <section>
            <span class="image fit main"><%=image_tag "gmap.jpg" %></span>
            <h3>See what's for rent near you!</h3>
            <p>Imagin the treasures lying dormant in your neighborhood. From that cafe racer bikes you saw your neighbor fiddle with to that awesome Ducati you caught a glimpse of the other day. They are all on OpenThrottle.</p>
            <footer>
              <ul class="actions">
                <li><a href="#" class="button">Map my ride</a></li>
              </ul>
            </footer>
          </section>
        </section>

      </div>
      <%= will_paginate @vehicles %>
      <div class="8u$ 12u$(medium) important(medium)">
        <% @vehicles.each do |vehicle| %> 
        <!-- Content -->
        <section id="content">
          <span class="image fit"><%=image_tag vehicle.image.to_s %></span>
          <span><h6>Added: <%= vehicle.created_at %></h6></span>
          <h3><%= vehicle.description %></h3>

          <ul>
            <li><strong>Brand:</strong> <%= vehicle.brand %></li>
            <li><strong>Model:</strong> <%= vehicle.model%> </li>
            <li><strong>CC:</strong> <%= vehicle.cc%></li>
          </ul>
          <ul>
            <blockquote>Price per day: <strong>US$ <%=vehicle.price_per_day %></strong> </blockquote>
          </ul>
          <% if current_user %>
          <h3><%= button_to 'More info about this motorbike', vehicle_path(vehicle), method: "get"%></h3>
          <%else%>
          <div class="button"><%= link_to "Please sign-up to view more details about this motorcycle!", sign_up_path %></div>
          <br>
          <br>
          <%end%>
          <header class="major"></header>
        </section>
        <% end %>
      </div>
    </div>
  </div>
</div>

</section>


