<!DOCTYPE HTML>
<html>
  <head>
    <title>OpenThrottle</title>
 <%= include_gon(:init => true) %>  
<%= javascript_include_tag "vendor/modernizr" %>
<%= csrf_meta_tags %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
   <%= stylesheet_link_tag 'main'%>
  </head>
  <body class="landing">
    <div id="page-wrapper">

      <!-- Header -->
        <header id="header">
          <h1 id="logo"><%= link_to 'OpenThrottle', root_path %></h1>
          <nav id="nav">
            <ul>
              <li><%= link_to 'Home', root_path %></li>
              <li>
                <a href="#">Layouts</a>
                <ul>
                  <li><a href="left-sidebar.html">Left Sidebar</a></li>
                  <li><a href="right-sidebar.html">Right Sidebar</a></li>
                  <li><a href="no-sidebar.html">No Sidebar</a></li>
                  <li>
                    <a href="#">Submenu</a>
                    <ul>
                      <li><a href="#">Option 1</a></li>
                      <li><a href="#">Option 2</a></li>
                      <li><a href="#">Option 3</a></li>
                      <li><a href="#">Option 4</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="elements.html">Elements</a></li>
              <li>  <% if signed_in? %>
                    <%= link_to "My Profile", user_path(current_user.id) %>
                    <ul>
                  <li>Hey <%= current_user.email %></li>
                  <li><a href="left-sidebar.html"> > Show my bookings</a></li>
                  <li><a href="right-sidebar.html"> > Show my listings</a></li>
                  <li>
                    </ul>
                    <% else %>
                    <%= link_to 'Sign in', sign_in_path %>
                    <% end %>
              </li>
              <li>  <% if signed_in? %>
                    <%= link_to 'Sign out', sign_out_path, method: :delete %>
                    <% end %>
              </li>
            </ul>
          </nav>
          <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
        </header>
        <div id="flash">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
          <% end %>
        </div>

<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
</body>
</html>
